<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/static/css/layout/header.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>회사 홈페이지</h1>
        <img src="/static/images/logo.png" title="로고" alt="로고">
        <nav>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Corporation</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>